*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-color:#3b6978;
    --primary-color: #58899a;
    --secondary-color:#fb7813;
    --body-color: #fff;
    --max-width:1300px;
    --main-font:'Montserrat';
    --secondary-font:'Poppins';
}

body{
    max-width: 1300px;
    background-color: var(--dark-color);
    color: var(--body-color);
    display: grid;
    grid-template-columns: [kolom1] 1fr;
    grid-template-rows: [logo] 1fr [card]  2fr;
    padding: var(--body--padding);
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: var(--body-color);
    font-size: 1.5rem;
}


a:focus{
    text-decoration: none;
    color: var(--body-color);
}
a:active{
    text-decoration: none;
    color: var(--body-color);
}


.logo{
    font-family: var(--main-font);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    font-family: var(--secondary-font);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.card h1{
    margin-bottom: 25px;
    font-family: var(--main-font);
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: center;
    margin: 15px;
    padding: 1rem 2rem;
    align-self: center;
    text-decoration: none;
}

.button button{
    color: var(--body-color);
    position: relative;
    z-index: 100;
    overflow: hidden;
    transition: 300ms;
    background-color: var(--dark-color);
    padding: 1rem 2rem;
    border: none;
    margin: 3px;
    font-family: var(--secondary-font);
}

button::before{
    position: absolute;
    display: block;
    content: ' ';
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    background-color: var(--primary-color);
    z-index: -1;
    border: solid 2px var(--dark-color);
}

button::after{
    content: ' ';
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: var(--body-color);
    z-index: -2;
    border: none;
    transform: rotate(90deg);
    transition: 300ms;
}




button:focus{
    outline: none;
}

button:hover::after{
    cursor: pointer;
    border-top: none;
    border-right:none;
    border-left: none;
    background: none;
    border-radius: none;
    transition: 300ms;
    position: absolute;
    display: block;
    transform: rotate(0deg);
    background-color: var(--body-color);
}

button:active{
    background-color: var(--dark-color);
    border-top: none;
    border-right:none;
    border-bottom: solid 2px white;
    border-left: none;
    background: none;
    border-radius: none;
    transition: 300ms;
}



/* ===responsive=== */

@media screen and (min-width: 768px){
    .button{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}


