*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-color:#3b6978;
    --primary-color: #58899a;
    --secondary-color:#fb7813;
    --body-color: #fff;
    --max-width:1300px;
    --main-font:'Montserrat';
    --secondary-font:'Poppins';
}

body{
    max-width: 1300px;
    background-color: var(--dark-color);
    color: var(--body-color);
    display: grid;
    grid-template-columns: [kolom1] 1fr;
    grid-template-rows: [logo] 1fr [card]  2fr;
    padding: var(--body--padding);
    justify-content: center;
    align-items: center;
}

.logo{
    font-family: var(--main-font);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    font-family: var(--secondary-font);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.card h1{
    margin-bottom: 25px;
    font-family: var(--main-font);
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: center;
    margin: 5px;
    align-self: center;
}

.button button{
    background-color: var(--primary-color);
    padding: 10px 30px;
    color: white;
    border: none;
    margin: 3px;
    font-family: var(--secondary-font);
}

button:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
    border-top: none;
    border-right:none;
    border-bottom: solid 2px white;
    border-left: none;
    background: none;
    border-radius: none;
    transition: 300ms;
}

button:active{
    background-color: var(--dark-color);
    border-top: none;
    border-right:none;
    border-bottom: solid 2px white;
    border-left: none;
    background: none;
    border-radius: none;
    transition: 300ms;
}


/* ===responsive=== */

@media screen and (min-width: 768px){
    .button{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}


